.Card-container {
    width: 250px;
    margin: 0px 15px;
}

.Card-content {
    margin: auto;
    margin-top: 10px;
    max-width: 235px;
}

.Card-number {
    font-size: 5vh;
    font-weight: 500;
    margin: 10px 0px;
}

.Card-title {
    margin: 0;
}

/* Pseudo element for underline of .Card-number */
h1:after {
    content: "";
    display: block;
    max-width: 50px;
    margin: auto;
    border-bottom: 3px solid #66e2bb;
    padding-top: 10px;
}


@media only screen and (max-width: 990px) {
    .Card-container {
        flex-basis: 33%;
    }
}

@media only screen and (max-width: 555px) {
    .Card-container {
        flex-basis: 100%;
    }
}