.Panel-container {
    text-align: center;
    margin-bottom: 50px;
}
.Panel-title {
    margin-top: 18px;
    font-size: 30px;
}

.Panel-cards-container {
    display: flex;
    justify-content: center;
}